@use "./utils/vars.scss";

body {
  background-image: url("../imgs/background.webp");
  display: flex;
  flex-flow: column nowrap;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  padding: 2rem;
  max-width: 2000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .widget {
    h1, h2 {
      font-family: vars.$titleFont;
    }
    h3, h4, h5 {
      font-family: vars.$secondaryTitleFont;
    }
    p, a {
      font-family: vars.$bodyFont;
    }
    margin: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px rgb(0, 0, 0), inset  20px 20px black, inset -4px -4px red, 4px 4px yellow;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  #productRelated {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  #questionsOutfit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}