body {
  background-image: url("../imgs/background.webp");
  display: flex;
  flex-flow: column nowrap;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  padding: 2rem;
  max-width: 2000px;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .widget {
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 15px 15px rgb(0, 0, 0), inset  15px 15px black, inset -4px -4px red, 4px 4px yellow;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  #infoGrid{
    max-width: 80%;
    max-height: 80%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
    #logoCard {
      grid-area: 1 / 3 / span 1 / span 3
    }
    #Product {
      grid-area: 1 / 1 / span 2 / span 2
    }
    #related {
      grid-area: 2 / 3 / span 3 / span 3
    }
    #outfit {
      grid-area: 3 / 1 / span 4 / span 1
    }
    #QA {
      grid-area: 4 / 2 / span 4 / span 3
    }
    #review-module {
      grid-area: 5 / 1 / span 5 / span 3
    }
  }
}
