/*
  color palatte following the 60-30-10 rule
    60% primary 30% seconday 10% accent

  red primary #FD8A8A
  yellow secondary #F1F7B5
  blue primary-accent #A8D1D1
  darker blue seconday-accent blue #9EA1D4
*/
#main {
  background-color: #FD8A8A;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .widget {
    margin: 20px;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: #F1F7B5;
  }
}

