.dropdown-container {
  background-color: rgb(128, 86, 109);
  width: 33%;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}
.dropdown-input {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.dorpdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.stylesContainer {
  display: flex;
  flex-direction: row;
}

.dropdown-item:hover {
  background-color: #c00d72;
}
.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
.style-icon {
  width: 20%;
  height: 20%;
}

.images-styles{
  border-radius: 50%;
}

.images-styles.selected{
  border: 8px solid rgb(28, 241, 39)
}
.images-row {
  position: relative;
  top: -10%;
  z-index: 1;
}
.images-extra {
  width: 7%;
  height: 7%
}