.dropdown-container {
  background-color: rgb(128, 86, 109);
  width: 33%;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}
.dropdown-input {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.dorpdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #c00d72;
}
.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
.images-styles {
  width: 10%;
  height: 10%;
}