#QA {
  display: flex;
  flex-flow: column nowrap;
  max-height: 800px;
  width: 1000px;
  min-height: 600px;
  cursor: default;


  .questionContainer {
    overflow-y: auto;
    max-height: 600px;
  }

  .questionHelpful {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
    justify-content: space-between;
  }

  .helpfulAddAnswer {
    display: flex;
    flex-flow: row nowrap;
  }

  .pageTitle {
    margin: 8px;
  }

  ::placeholder {
    color:#e8e6e3;
  }

  .searchBar {
    align-self: center;
    width: 400px;
    height: 30px;
    background-color: #646464;
    color:#e8e6e3;

  }

  .question {
    margin: 5px;
    font-weight: bold;
    height: auto;
    max-width: 710px;
  }

  .oneQuestion {
    //border: 1px solid grey;
    padding: 5px;
    margin: 5px;
    height: auto;
  }
  .helpful {
    display: flex;
    float: right;
    font-size: 11px;
    margin: 10px;
    text-decoration: underline;
    cursor: pointer;
  }
  .buttons {
    align-self: center;
    cursor: pointer;
  }

  .helpbtn {
    width: 100px;
    height: 25px;
    font-size: 10px;
    cursor: pointer;
  }

  .addanswerbtn {
    display: flex;
    float: right;
    font-size: 11px;
    margin: 10px;
    cursor: pointer;
  }

  .moreAnsweredBtn {
    width: 250px;
    cursor: pointer;
    background-color: #E5707E;
  }

  .addQuestionBtn {
    width: 250px;
    cursor: pointer;
    background-color: #E5707E;
  }

  .userDate {
    font-size: 13px;
    margin: 2px;
  }

  .answer {
    padding: 8px;
    margin: 7px;
  }

  .answerModule {
    margin: 2px;
    padding: 2px;
  }

  .answerInfo {
    display: flex;
    width: 100%;
  }

  .answerContainer {
    max-height: 120px;
    height: 20%;
    overflow-y: auto;
    margin-left: 5px;
  }
  .answerReport {
    display: flex;
    margin: 2px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .answerHelpful {
    display: flex;
    margin: 2px;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
  }

  .loadAnswers {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }

  .collapseAnswers {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }

  .answerModal {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    outline: solid;
    outline-color: black;
    width: 800px;
    height: 400px;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );


    overflow: auto;
  }

  .answerForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: 50%;


    margin: 0 1rem 1rem 1rem 1rem;
    padding: 2rem;
    background:  #7e8182;
    box-shadow: rgb(100,100,100) 20px 20px, rgb(100,100,100) 20px 20px inset, #E5707E -4px -4px inset,  #F9D949 4px 4px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .answerModalTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
    padding: 4px;
  }

  .answerModalQuestion {
    margin: 4px;
    padding: 4px;
  }

  .answerModalAnswer {
    margin: 5px 0;
    padding: 5px;
    height: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .answerModalInput {
    margin: 5px 0;
    padding: 5px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .answerSubmitBtn {
    margin: 10px;
    display: flex;
    float: right;
  }

  .answerCancel {
    margin: 10px;
    display: flex;
    float: left;
  }

  .questionModal {
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;
    outline: solid;
    outline-color: black;
    width: 800px;
    height: 400px;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );

    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    /* Black w/ opacity */
    display: flex;
  }

  .questionForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: 50%;

    margin: 0 1rem 1rem 1rem 1rem;
    padding: 2rem;
    background:  #7e8182;
    box-shadow: rgb(100,100,100) 20px 20px, rgb(100,100,100) 20px 20px inset, #E5707E -4px -4px inset,  #F9D949 4px 4px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .questionModalQuestion {
    margin: 5px 0;
    padding: 5px;
    height: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .questionModalInput {
      margin: 5px 0;
      padding: 5px;
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .questionSubmitBtn {
    margin: 10px;
    display: flex;
    float: right;
  }

  .questionCancel {
    margin: 10px;
    display: flex;
    float: left;
  }

}

