#QA {
  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  max-width: 800px;
  width: 100%;

  .questionEntry {
    overflow-y: auto;
  }

  .pageTitle {
    margin: 8px;
  }

  .searchBar {
    align-self: center;
    width: 400px;
  }

  .question {
    margin: 10px;
    font-weight: bold;
    padding: 8px;
    height: auto;
  }

  .oneQuestion {
    //border: 1px solid grey;
    padding: 8px;
    margin: 10px;
    height: auto;
  }
  .helpful {
    display: flex;
    float: right;
    font-size: 11px;
    margin: 2px;
    text-decoration: underline;
  }
  .buttons {
    align-self: center;
  }

  .helpbtn {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }

  .addanswerbtn {
    display: flex;
    float: right;
    font-size: 11px;
    margin: 2px;
  }

  .moreAnsweredBtn {
    width: 250px;
  }

  .addQuestionBtn {
    width: 250px;
  }

  .userDate {
    font-size: 13px;
    margin: 2px;
  }

  .answer {
    padding: 8px;
    margin: 7px;
  }

  .answerModule {
    margin: 5px;
    padding: 5px;
  }

  .answerInfo {
    display: flex;
    width: 100%;
  }

  .answerContainer {
    max-height: 101px;
    overflow-y: auto;
  }
  .answerReport {
    display: flex;
    margin: 2px;
    font-size: 13px;
  }

  .answerHelpful {
    display: flex;
    margin: 2px;
    font-size: 13px;
    text-decoration: underline;
  }

}

