.brianWidget {
  max-width: 360px;
  max-height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .carouselItems {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .navButtons {
      max-height: 32px;
      padding: 20px;
    }
  }
  .relatedCarousel {
    max-width: 90%;
    max-height: 600px;
    overflow: hidden;
    .viewPort {
      display: flex;
      flex-flow: column nowrap;
      white-space: pre-wrap;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s;
      .Card {
        background-color: rgb(50, 54, 56);
        display: flex;
        flex-flow: column nowrap;
        width: 200px;
        height: 360px;
        margin: 12px;
        border: 3px solid lightgrey;
        border-radius: 6px;
        .info {
          padding: 10px;
          height: 250px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          align-items: center;
          text-align: center;
        }
        img {
          max-width: 200px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }
      .moreDetails {
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        justify-content: center;
        padding: 2em;
        .row {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
        }
      }
      .starred {
        padding: 10px;
        position: absolute;
        align-self: end;
      }
    }
  }
}
