$color-text-white: #ffffff;
$color-primary: #ffffff4d;
$color-secondary: #646464;
$color-background: #323638;
$color-accent-red: #E5707E;
$color-accent-yellow: #F9D949;


$font-title: 'Major Mono Display', monospace;
$font-subtitle: 'Oswald', sans-serif;
$font-h3: 'Baloo 2', cursive;
$font-base: 'Cousine', monospace;
$font-footer: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


#review-module {
  cursor: default;
  color: $color-text-white;

  // undo reset
  input[type="radio"] {
    -webkit-appearance: radio;
    accent-color: $color-accent-yellow;
  }

  button {
    padding: 10px;
    margin: 5px 10px;
    font-family: $font-base;
    background-color: $color-accent-red;
  }

  input,
  textarea {
    background-color: #646464;
    color: #e8e6e3;
    padding: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  //
  // Module Layout
  //
  width: 100%;
  height: auto;
  padding: 8px;

  .col-25 {
    float: left;
    width: 26%;
  }

  .col-75 {
    float: right;
    width: 73%;
  }

  select {
    display: inline-block;
    background-color: $color-accent-red;
    padding: 2px 5px 1px 5px;
    margin: 0 5px;
    font-family: $font-base;
  }

  .sort-option {
    font-family: $font-footer;
  }





  //
  // Review List
  //
  #review-list {

    .scrollable-list {
      max-height: 80vh;
      overflow-y: auto;
      // min-height: 50vh;
      transition-property: all;

      h6 {
        text-align: center;
      }
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: $color-background;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $color-accent-red;
      border-radius: 10px;
    }


  }

  .modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    display: flex;
    justify-content: center;
    align-items: center;


    .modal-content {
      margin: auto;
      width: 60%;
      height: 90%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button.btn-close {
        align-self: flex-end;
        background-color: transparent;
      }

      img {
        max-width: 90vw;
        max-height: 90vh;
      }
    }

  }

  .form-new-review {
    min-height: 80%;
    min-width: 90%;
    // min-width: 70%;
    // min-height: 60vh;
    // min-width: 80vh;

    margin: 0 1rem 1rem 1rem 1rem;
    padding: 2rem;
    background-color: #707374;
    box-shadow: rgb(100, 100, 100) 20px 20px, rgb(100, 100, 100) 20px 20px inset, $color-accent-red -4px -4px inset, #F9D949 4px 4px;
    overflow-y: auto;

    h3 {
      font-family: $font-h3;
      font-size: 3rem;
      text-align: center;
    }

    h4 {
      font-family: $font-h3;
      font-size: 1.5rem;
      text-align: start;
      display: inline;
      margin: 10px 0;
    }

    label {
      font-family: $font-footer;
    }

    i {
      color: #e8e6e3;
      font-size: 0.8rem;
      font-family: $font-subtitle;
    }

    input {
      height: 15px;
      height: 1.5rem;
    }

    button {
      display: flex;
      margin: auto;
    }


    .form-row {
      margin: 5px 0;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      label {
        flex: 3;
      }

      div {
        flex: 3;
      }

      input {
        flex: 3;
      }

      i {
        flex: 2;
      }
    }

    .form-group {
      margin: 15px 0;

      .form-row {
        margin: 5px 0;
        padding: 2px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      label {
        padding-left: 5px;
        flex: 1.5;
      }

      div {
        flex: 3;
      }

      i {
        flex: 2;
      }
    }

    .form-row-main {
      margin: 5px 0;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      label {
        flex: 1;
      }

      input, textarea {
        flex: 5;
      }

    }


  }



  //
  // Single Review Tile
  //
  .review-tile {
    display: flex;
    flex-flow: column nowrap;

    padding: 20px 4px 10px 10px;
    margin: 10px 10px 10px 0;

    border: 1.5px outset $color-background;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px $color-background;

    .review-tile-header {
      display: flex;
      flex-flow: row nowrap;

      div {
        flex: 6;
      }

      i {
        font-size: 0.8rem;
        margin: 0 5px 0 5px;
        font-family: $font-footer;
      }

    }

    .review-tile-title {
      font-size: 1.1rem;
      font-weight: bolder;
      margin: 10px 0 8px 0;
      letter-spacing: -1px;

      .review-tile-title-capped {
        font-size: 1rem;
        font-weight: 100;
        margin: 5px 0 0 0;
      }
    }


    .review-tile-body {
      margin: 10px 0 8px 0;
      font-family: $font-base;
      line-height: 1.2;
      // letter-spacing: 0.05rem;

      i {
        font-weight: 200;
        text-decoration: underline;
        margin: 0 5px;
      }
    }

    .review-tile-thumbnail {
      .review-img {
        width: 80px;
        height: 100px;
        object-fit: cover;
        margin: 5px;
      }
    }


    .review-tile-recommend {
      margin: 8px 0;
      // font-size: 0.9rem;

      i {
        margin: 0 5px;
      }
    }

    .review-tile-response {
      margin: 8px 0;
      padding: 8px 5px;
      background-color: $color-background;
      border-radius: 10px;

      b {
        font-weight: bold;
        margin: 5px 0;
      }

      p {
        margin: 10px 0 5px 0;
      }
    }

    .review-tile-footer {
      font-size: 0.85rem;
      margin: 8px 0 0 0;
      font-family: $font-footer;

      i {
        font-weight: lighter;
        margin: 0 5px 0 10px;
        text-decoration: underline;

        span {
          color: $color-accent-red;
        }
      }

      i:hover {
        background-color: #8c888825;
      }

      .voted {
        text-decoration: none;
      }
    }
  }


  //
  // Rating Breakdown
  //
  #rating-breakdown {
    display: flex;
    flex-flow: column nowrap;
    // margin: 10px 0;

    .breakdown-summary {
      display: inline-flex;

      // .breakdown-heading {
      //   margin-right: 8px;
      // }

      h1 {
        margin-right: 8px;
      }
    }

    .breakdown-recommended {
      font-family: $font-footer;
    }

    .breakdown-by-star {
      margin: 5px 0;

      i {
        text-decoration: underline;
        // font-size: smaller;
      }

      .breakdown-bar {
        width: 70%;
        height: 12px;
        display: inline-block;
        margin: 0 5px;
        border: 1px solid #fff;
        box-shadow: 0 0 1px #aaa;
        background-color: #8c888814;

        .bar {
          width: 0%;
          height: 100%;
          background: $color-accent-red;
        }
      }
    }

    .breakdown-by-star:hover {
      background-color: #aaaaaa59;
    }

    .filters-container {
      // font-size: small;
      font-weight: bold;

      i {
        // display: inline-block;
        margin: 0 5px;
        background-color: #646464;
      }

      button {
        display: block;
        padding: 5px 2px;
        margin: 5px 0;
      }
    }

  }

  //
  // Product Breakdown
  //
  #product-breakdown {
    display: flex;
    flex-flow: column nowrap;
    margin: 40px 0;

    .breakdown-by-factor {
      margin: 10px;

      .breakdown-bar {
        width: 95%;
        height: 8px;
        display: inline-block;
        background-color: $color-secondary;

        i {
          position: relative;
          color: #F0F0F0;
        }
      }

      .factor-labels {
        font-family: $font-footer;
        width: 95%;
        display: flex;
        font-size: 0.7rem;
        justify-content: space-between;

        i {
          text-align: center;
        }
      }
    }

  }
}