
.review-container {
  border: 1px solid grey;
  padding: 8px;
  // margin: 10px
  height: auto;
}

/*
 * General Module Layout
 */
#review-module {
  width: 95%;
  height: auto;
  padding: 8px;

  .col-25 {
    float: left;
    width: 23%;
  }

  .col-75 {
    float: right;
    width: 75%;
  }

  /* Clear floats after the columns */
  ::after {
    content: "";
    // display: table;
    clear: both;
  }
}

/*
 * Review List
 */
